@import '../utils/variables';
@import '../utils/mixins';

.container {
  letter-spacing: 0.03em;
  min-width: 320px;
  cursor: default;
  @include mobile {
    width: auto;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
