@import '../utils/variables';
@import '../utils/mixins';

.container {
  letter-spacing: 0.03em;
  min-width: 320px;
  cursor: default;
  @media screen and (min-width: 480px) {
    width: auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
