@import '../utils/variables';
@import '../utils/mixins';

body {
  font-family: $text-dm-sans;
  color: $quaternary-color;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: $tertiary-color;
  border-radius: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
  color: currentColor;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
