// colors, text, fill, border
$primary-color: #fff; //text
$secondary-color: #000; // text
$tertiary-color: #d41443; //title, text
$quaternary-color: #ffa5ba; //subtitle, hours
$quinary-color: #907e82; //description
// $senary-color: #eee;
// $septenary-color: #afb1bb;

//colors rgba
// $primary-color-rgba: rgba(255, 255, 255, 0.6);// example

//Backgroup
$background-color-primary: #FFB8CA;  //section-one
 $background-color-secondary: #FFF; //section-two
 $background-color-tertiary:#FFF5F6 ; //section-tree
 $background-color-quaternary:#FAFAFA ; //coment
 $background-color-quinary: #F0D1A5;//card-two
 $background-color-senary:  #C2E297;//card-one
 $background-color-septenary: #D41443;//buton

//box-shadow
// $box-shadow-primary:
// $box-shadow-secondary:
// $box-shadow-tertiary:

//others

//Text
$text-releway: 'Raleway'; // example


