// colors, text, fill, border
$primary-color: #fff; //text
$secondary-color: #000; // text
$tertiary-color: #d41443; //title, text
$quaternary-color: #ffa5ba; //subtitle, hours
$quinary-color: #907e82; //description
// $senary-color: #eee;
// $septenary-color: #afb1bb;

//colors rgba
// $primary-color-rgba: rgba(255, 255, 255, 0.6);// example

//Backgroup
$background-color-primary: #ffb8ca; //section-one
$background-color-secondary: #fff; //section-two
$background-color-tertiary: #fff5f6; //section-tree
$background-color-quaternary: #fafafa; //coment
$background-color-quinary: #f0d1a5; //card-two
$background-color-senary: #c2e297; //card-one
$background-color-septenary: #d41443; //buton
//Backgroup rgba
$background-color-rgba-primary: rgba(255, 184, 202, 1);
$background-color-rgba-secondary: rgba(225, 121, 146, 1);
$background-color-rgba-tertiary: rgb(238, 229, 229);
//box-shadow
// $box-shadow-primary:
// $box-shadow-secondary:
// $box-shadow-tertiary:

//others
$primary-color-border: #e1e1e1; //copyright box

//Text
$text-dm-sans: 'DM Sans'; // example
$text-titan-one: 'Titan One'; // example
