<!--
  ESTA ES LA SECCIÓN DONDE SE ILUSTRAN LOS BENEFICIOS (ADVANTAGES)
  DE LOS PRODUCTOS DE HELADO CON UN ÍCONO, TITULO Y TEXTO
-->
<section id="section-advantages-kg">
  <div class="container advantages">
    <ul class="advantage-list">
      <li class="advantage-list__item">
        <div>
          <div>
            <svg class="advantage-list__icon" width="50" height="50">
              <use href="/src/images/icons.svg#leche"></use>
            </svg>
          </div>
          <h3 class="advantage-list__title">721</h3>
          <p class="advantage-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantage-list__item">
        <div>
          <div>
            <svg class="advantage-list__icon" width="50" height="50">
              <use href="/src/images/icons.svg#manzanas"></use>
            </svg>
          </div>
          <h3 class="advantage-list__title">16Kg</h3>
          <p class="advantage-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantage-list__item">
        <div>
          <div>
            <svg class="advantage-list__icon" width="50" height="50">
              <use href="/src/images/icons.svg#corazon"></use>
            </svg>
          </div>
          <h3 class="advantage-list__title">84</h3>
          <p class="advantage-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
