<section>
  <ul>
    <li>
      <div>
        <p>Cafe</p>
        <h1>Chicago</h1>
        <p>Fusce ut velit laoreet,tempus arcu molestie vulputate</p>
      </div>
      <div>
        <h1>Monday-Friday</h1>
        <span>06:00 AM- 1O:00 PM</span>
        <h1>Saturday-Sunday</h1>
        <span>08:00 AM - 16:00 PM</span>
      </div>
      <div>
        <a href="tel:+61038766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li>
      <div>
        <p>Foodtruck</p>
        <h1>Los Angeles</h1>
        <p>Fusce ut velit laoreet,tempus arcu molestie vulputate</p>
      </div>
      <div>
        <h1>Monday-Friday</h1>
        <span>06:00 AM- 1O:00 PM</span>
        <h1>Saturday-Sunday</h1>
        <span>08:00 AM - 16:00 PM</span>
      </div>
      <div>
        <a href="tel:+61038766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
    <li>
      <div>
        <p>Cafe</p>
        <h1>New York</h1>
        <p>Fusce ut velit laoreet,tempus arcu molestie vulputate</p>
      </div>
      <div>
        <h1>Monday-Friday</h1>
        <span>06:00 AM- 1O:00 PM</span>
        <h1>Saturday-Sunday</h1>
        <span>08:00 AM - 16:00 PM</span>
      </div>
      <div>
        <a href="tel:+61038766284">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </li>
  </ul>
</section>
