<footer>
  <div class="container footer__container">
    <div class="footer_text-box">
      <div class="footer_title first">
        <span class="footer_title-ice-cream">homemade ice cream</span>
        <span class="footer_title-made">made</span>
      </div>
      <div class="footer_second-title">
        <div class="footer_title-word">
          <span class="footer_title-letter">w</span>
          <span class="footer_title-letter">i</span>
          <span class="footer_title-letter">t</span>
          <span class="footer__title--letter footer__title--letter-spase"
            >h</span
          >
        </div>
        <div class="footer_title-word">
          <span class="footer__title-letter-title-push">p</span>
          <span class="footer__title-letter-title-push">a</span>
          <span class="footer__title-letter-title-push">s</span>
          <span class="footer__title-letter-title-push">s</span>
          <span class="footer__title-letter-title-push">i</span>
          <span class="footer__title-letter-title-push">o</span>
          <span class="footer__title-letter-title-push">n</span>
        </div>
      </div>
    </div>
    <div class="contacts-information">
      <div class="social-box">
        <ul class="social-box__links">
          <li class="social-box__list">
            <a
              target="_blank"
              rel="noreferrer noopener nofollow"
              title="link"
              href="https://github.com/"
              target="_blank"
              class="social-box__link"
            >
              <svg class="social-box__icon" width="32px" height="32px">
                <use href="./images/icons.svg#icon-footer-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__list">
            <a
              target="_blank"
              rel="noreferrer noopener nofollow"
              title="link"
              href="https://telegram.org/"
              target="_blank"
              class="social-box__link link-footer"
            >
              <svg class="social-box__icon" width="32px" height="32px">
                <use href="./images/icons.svg#icon-footer-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__list">
            <a
              target="_blank"
              rel="noreferrer noopener nofollow"
              title="link"
              href="https://www.facebook.com/"
              target="_blank"
              class="social-box__link link-footer"
            >
              <svg class="social-box__icon" width="32px" height="32px">
                <use href="./images/icons.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-information">
        <span class="contact-box__text">Feel free to contact</span>
        <a
          target="_blank"
          rel="noreferrer noopener nofollow"
          title="link"
          href="tel:+610383766284"
          class="contact-box__phone link-footer"
        >
          +61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>
  <div class="copyright-box">
    <p class="copyright-box__text">© 2021 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
