<header class="header">
  <div class="container-modificator container">
    <div class="header-container">
      <nav class="menu-nav">
        <a
          title="link"
          href="#"
          target="_self"
          rel="noreferrer noopener nofollow"
          class="logo"
        >
          <svg class="icon-logo" width="195" height="50">
            <use href="/src/images/icons.svg#icon-IceCream"></use>
          </svg>
        </a>
        <ul class="menu-list list">
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-home"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Home</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >About us</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >How it's made?</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Our products</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="menu-switch">
        <button data-modal-open title="button" type="button" class="btn-buy">
          Buy now
          <svg class="buy-icon" width="8" height="10">
            <use href="/src/images/icons.svg#icon-arrow-buy"></use>
          </svg>
        </button>
        <button
          title="button"
          type="button"
          class="burger js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="burger-icon" width="25" height="17">
            <use href="/src/images/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
      <a
        title="link"
        href="#"
        class="hero-link-sootasty"
        target="_self"
        rel="noreferrer noopener nofollow"
      >
        <img src="/src/images/slider-pic71.png" alt="" />
      </a>
      <a
        title="link"
        href="#"
        class="hero-link-icecream"
        target="_self"
        rel="noreferrer noopener nofollow"
      >
        <img src="/src/images/slider-pic41.png" alt="c" />
      </a>
      <div class="milk-header-container">
        <h1>
          ice cream <br />
          made with <br />
          <span>passion</span>
        </h1>
        <button title="button" type="button" class="btn-products">
          Products
        </button>
        <button title="button" type="button" class="btn-how-made">
          How it's made?
        </button>
      </div>
      <div>
        <ul>
          <li>
            <h2>16</h2>
            <span>cafes</span>
          </li>
          <li>
            <h2>23</h2>
            <span>food trucks</span>
          </li>
        </ul>
      </div>
      <div>
        <a
          title="link"
          href="#"
          target="_self"
          rel="noreferrer noopener nofollow"
        >
          <img
            class="header-img-milk"
            src="/src/images/slider-pic51.png"
            alt="Milk"
            width="213"
            height="216"
          />
        </a>
        <div>
          <p class="header-text-milk">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a
            title="link"
            href="#"
            target="_self"
            rel="noreferrer noopener nofollow"
          >
            <button title="button" type="button" class="header-btn-milk">
              <svg class="header-btn-svg-milk" width="10" height="10">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
