<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" type="button" title="button">
    <svg class="menu-close-button-icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" title="button" class="button-nav">
    Buy now<svg class="icon-buy" width="8" height="10">
      <use href="/src/images/icons.svg#icon-arrow-buy"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li>
      <a
        title="link"
        target="_self"
        rel="noreferrer noopener nofollow"
        href="#"
        class="menu-link"
        >Home</a
      >
    </li>
    <li>
      <a
        title="link"
        target="_self"
        rel="noreferrer noopener nofollow"
        href="#"
        class="menu-link"
        >About us</a
      >
    </li>
    <li>
      <a
        title="link"
        target="_self"
        rel="noreferrer noopener nofollow"
        href="#how-its-made"
        class="menu-link"
        >How it's made?</a
      >
    </li>
    <li>
      <a
        title="link"
        target="_self"
        rel="noreferrer noopener nofollow"
        href="#"
        class="menu-link"
        >Our products</a
      >
    </li>
    <li>
      <a
        title="link"
        target="_self"
        rel="noreferrer noopener nofollow"
        href="#"
        class="menu-link"
        >Contact</a
      >
    </li>
  </ul>
</div>
<header class="header">
  <div class="container-modificator container">
    <div class="header-container">
      <nav class="menu-nav">
        <a
          title="link"
          href="#"
          target="_self"
          rel="noreferrer noopener nofollow"
          class="logo"
        >
          <svg class="icon-logo" width="195" height="50">
            <use href="/src/images/icons.svg#icon-IceCream"></use>
          </svg>
        </a>
        <div class="tablet-buttons">
          <button
            title="button"
            type="button"
            class="burger js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="burger-icon" width="25" height="17">
              <use href="/src/images/icons.svg#icon-burger"></use>
            </svg>
          </button>
          <button type="button" title="button" class="button-tablet">
            Buy now<svg class="icon-buy" width="8" height="10">
              <use href="/src/images/icons.svg#icon-arrow-buy"></use>
            </svg>
          </button>
        </div>
        <div>
        <ul class="menu-list list">
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-home link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Home</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >About us</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link link"
              href="#how-its-made"
              target="_self"
              rel="noreferrer noopener nofollow"
              >How it's made?</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Our products</a
            >
          </li>
          <li class="menu-list-item">
            <a
              title="link"
              class="menu-list-link link"
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="menu-switch">
        <button title="button" type="button" class="btn-buy">
          Buy now
          <svg class="icon-buy" width="8" height="10">
            <use href="/src/images/icons.svg#icon-arrow-buy"></use>
          </svg>
        </button>
      </div>
    </div>
      <div class="caption">
        <div class="caption-header-container">
          <h1 class="main-title">
            ice cream <br />
            made with <br />
            <span class="main-title-passion">passion</span>
          </h1>
          <button title="button" type="button" class="btn-products">
            <a
              href="#"
              target="_self"
              rel="noreferrer noopener nofollow"
              title="link"
              class="caption-text-p link"
            >
              Products</a
            >
          </button>
          <button title="button" type="button" class="btn-how-made">
            <a
              href="#how-its-made"
              target="_self"
              rel="noreferrer noopener nofollow"
              title="link"
              class="caption-text-h link"
            >
              How it's made?</a
            >
          </button>
        </div>

        <div class="counts">
          <ul class="counts-list list">
            <li class="counts-item">
              <h2 class="counts-number">16</h2>
              <span class="counts-text">cafes</span>
            </li>
            <li class="counts-item">
              <h2 class="counts-number">23</h2>
              <span class="counts-text">food trucks</span>
            </li>
          </ul>
        </div>
      </div>
      <a
        title="link"
        href="#"
        class="hero-link-icecream"
        target="_self"
        rel="noreferrer noopener nofollow"
      >
        <img class="ice-cream" src="/src/images/slider-pic71.png" alt="" />
      </a>
      <a
        title="link"
        href="#"
        class="hero-link-sootasty"
        target="_self"
        rel="noreferrer noopener nofollow"
      >
        <img class="sootasty" src="/src/images/slider-pic41.png" alt="c" />
      </a>
      <div class="milk">
        <a
          title="link"
          href="#"
          target="_self"
          rel="noreferrer noopener nofollow"
        >
          <img
            class="header-img-milk"
            src="/src/images/slider-pic51.png"
            alt="Milk"
            width="213"
            height="216"
          />
        </a>
        <div>
          <p class="header-text-milk">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a
            title="link"
            href="#"
            target="_self"
            rel="noreferrer noopener nofollow"
          >
            <button title="button" type="button" class="header-btn-milk">
              <svg class="header-btn-svg-milk" width="10" height="10">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
