<section class="how__its__made">
  <div class="container">
    <h3 class="made_subtitle">tradition and love</h3>
    <h2 class="made__title">how it’s made?</h2>
    <div class="">
      <div class="made__container">
        <!-- imagen -->
        <img src="./images/home-pic41.png" alt="bio_eco">
      </div>
      <div class="">
        <p class="">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="">Aliquam erat volutpat. Aenean accumsan.</p>
        <button title="button" type="button" class="">
          Read more
          <svg class="" width="8" height="10">
            <use href="/src/images/icons.svg#icon-arrow-buy"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
