<section class="how__its__made" id="how-its-made">
  <div class="container container-center container-center__background">
    <h3 class="made_subtitle">tradition and love</h3>
    <h2 class="made__title">how it’s made?</h2>
    <div class="container__description">
      <div class="description__imagen__made">
        <!-- imagen -->
        <img
          class="imagen__made"
          src="./images/home-pic41.png"
          alt="bio_eco"
          width="280"
          height="279"
        />
      </div>
      <div class="description__main__content-more">
        <p class="description-more">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <div id="container-less" class="description__main__content-less">
          <p class="description-less description__main__content-less">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
          <p class="description-less description__main__content-less">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>
        <button
          id="button-less"
          title="button"
          type="button"
          class="button-less"
        >
          <span>Read more</span>
          <svg id="icon__less" width="8" height="10">
            <use href="/src/images/icons.svg#icon-arrow-buy"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
