<section>
    <div class="container">
        <div class="collage" > 
            <div class="img-collage">
                <img  src="./images/home-pic55.png" alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic54.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage" >
                <img  src="images/home-pic56.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic51.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic57.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage" >
                <img  src="images/home-pic59.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic58.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic510.png"  alt="collage" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic512.png"  alt="colla" width="400" />
            </div>
            <div class="img-collage">
                <img  src="images/home-pic511.png"  alt="collage
                  " width="400" />
            </div>
        </div >
    </div>
</section>