<section class="product" id="product">
    <div class="container">
      <h3 class="product__sub-tittle">100% natural</h3>
      <h2 class="product__tittle">products</h2>
      <div class="product__wrapper">

            <div class="products__cards">
                <img
                    class="product__image"
                    src="../images/home-pic1.png"
                    alt="Strawberry ice cream"
                />
                <div class="product__card ice-cream">
                    <h3 class="product__card-title">ICE CREAM</h3>
                    <div class="circles">
                    <span class="circle"> </span>
                    </div>
                    <p class="product__card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et
                    </p>
                    <div class="product__card-button">
                    <svg class="arrow">
                        <use href="../images/icons.svg#icon-arrow-right"></use>
                    </svg>
                    </div>
                </div>
                </div>

                <div class="products__cards">
                <img
                    class="product__image"
                    src="../images/home-pic2.png"
                    alt="Cold Ice"
                />
                <div class="product__card ice-tea">
                    <h3 class="product__card-title">ICE TEA</h3>
                    <div class="circles">
                    <span class="circle"> </span>
                    </div>
                    <p class="product__card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et
                    </p>
                    <div class="product__card-button">
                    <svg class="arrow">
                        <use href="../images/icons.svg#icon-arrow-right"></use>
                    </svg>
                    </div>
                </div>
                </div>

                <div class="products__cards">
                <img
                    class="product__image"
                    src="../images/home-pic3.png"
                    alt="Chocolate Milkshake"
                />
                <div class="product__card milkshake">
                    <h3 class="product__card-title">MILKSHAKE</h3>
                    <div class="circles">
                    <span class="circle"> </span>
                    </div>
                    <p class="product__card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et
                    </p>
                    <div class="product__card-button">
                    <svg class="arrow">
                        <use href="../images/icons.svg#icon-arrow-right"></use>
                    </svg>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>