<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="product">
      <div class="container">
        <h3 class="product__sub-tittle">100% natural</h3>
        <h2 class="product__tittle">products</h2>
        <div class="product__card">
          <img
            class="product__image"
            src="../images/home-pic1.png"
            alt="Strawberry ice cream"
          />
          <h3 class="product__card-title">ICE CREAM</h3>
          <div>
            <span class="circle-1"> </span>
            <span class="circle-2"> </span>
            <span class="circle-3"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <div class="product__card-button">
            <svg>
              <use href="../images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>

        <div class="product__card">
          <img
            class="product__image"
            src="../images/home-pic2.png"
            alt="Ice Coffee"
          />
          <h3 class="product__card-title">ICE COFFEE</h3>
          <div>
            <span class="circle-1"> </span>
            <span class="circle-2"> </span>
            <span class="circle-3"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <div class="product__card-button">
            <svg>
              <use href="../images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>

        <div class="product__card">
          <img
            class="product__image"
            src="../images/home-pic3.png"
            alt="chocolate Milkshake"
          />
          <h3 class="product__card-title">MILKSHAKES</h3>
          <div>
            <span class="circle-1"> </span>
            <span class="circle-2"> </span>
            <span class="circle-3"> </span>
          </div>
          <p class="product__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <div class="product__card-button">
            <svg>
              <use href="../images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
